<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
      <%= for(p) in posts { %>
      <div class="item mb-5">
        <div class="media">
          <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="http://demo.demohuo.top/modals/59/5962/demo/assets/images/blog/blog-post-thumb-1.jpg" alt="image">
          <div class="media-body">
            <h3 class="title mb-1"><a href="<%= postsDetailPath({pid: p.ID}) %>"><%= p.Title %></a></h3>
            <div class="meta mb-1"><span class="date">Published <%= formatDate(p.CreatedAt) %></span><span class="time"><%= p.Author.Username %></span><span class="comment"><a href="#">8 comments</a></span></div>
            <div class="intro"><%= markdown(truncate(p.Content, {"size": 200})) %></div>
            <a class="more-link" href="<%= postsDetailPath({pid: p.ID}) %>">查看更多 &rarr;</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </section>