<div class="row">
    <div class="col">
        <%= if (errors) { %>
            <%= for (key, val) in errors { %>
                <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                    <%= val %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
        <% } %>
    </div>
</div>
<div class="row m-3 justify-content-center">
    <div class="col-md-8 col-sm-10" style="position: relative;">
        <h2>Create a new post</h2>
        <form action="<%= postsCreatePath() %>" method="POST" enctype="multipart/form-data" id="form">
            <%= csrf() %>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="Title" class="form-control" id="title" value="<%= post.Title %>">
            </div>
            <div class="form-group">
                <label for="title">分类</label>
                <select class="form-control" id="category" name="CategoryID">
                    <option value="0">请选择分类</option>
                    <%= for (c) in _categories { %>
                    <option value="<%= c.ID %>"><%= c.Name %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="title">题图</label>
                <input type="text" class="form-control" name="attachment_url" placeholder="填写图片地址"/>
            </div>
            <div class="form-group">
                <label for="title">摘要</label>
                <textarea name="Subject" class="form-control" id="subject"><%= post.Subject %></textarea>
            </div>
            <div class="form-group" style="z-index: 9; position: relative;">
                <label for="content">Content</label>
                <div id="editSection"></div>
            </div>

            <textarea style="display:none;" name="Content" id="content"><%= post.Content %></textarea>
            <input type="hidden" name="TopImageID" id="attachment" value="0393a648-5a61-4954-8fe6-a13e8de97b23"/>
            <button type="submit" class="btn btn-primary" id="submit">Publish</button>
        </form>
    </div>
</div>
<!--文件上传-->
<div id="drag-drop-area"></div>
<div id="upload-btn" class="upload-btn">
    <button class="btn btn-primary">上传文件</button>
</div>
<!--文件结束-->
<link href="https://mockcdn.cdn.bcebos.com/uppy/uppy.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css" />
<script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
<script>
    var url = '<%= attachmentsPath() %>'

    $('#up').change(function() {
        var formData = new FormData();
        formData.append('file', $('#up')[0].files[0]);
        $.ajax({
            type: "POST",
            url: url,
            data: formData,
            contentType: false,
            processData: false,
            dataType:'json',
        }).then(function(res) {
            console.log(res)
            $('#preview-image').html('<img src="' + res.url + '" />');
            $('#attachment').val(res.id);
        })
    })
    const editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        height: '300px',
        hooks: {
            addImageBlobHook: (fileOrBlob, callback, source) => {
                uploadImage(fileOrBlob).then(res => {
                    const customDescription = `${res.url}_foo`;
                    console.log(res);
                    callback(res.url, customDescription);
                });
            }
        }
    });

    $('#form').on('submit', (e) => {
        var content = editor.getMarkdown();
        $('#content').val(content);
        var canSubmit = false;
        if ($('#form input[name="Title"]').val() === '') {
            swal({
                title: "请填写标题",
                icon: "error"
            });
        } else if($('#content').val() === '') {
            swal({
                title: "请输入正文",
                icon: "error"
            });
        } else if($('#category').val() == 0) {
            swal({
                title: "请选择分类",
                icon: "error"
            });
        } else {
            canSubmit = true;
        }
        canSubmit ? '' : e.preventDefault();
    })
    function uploadImage(fileOrBlob) {
        const result = {}

        if (Object.prototype.toString.call(fileOrBlob) === '[object File]') {
            const formData = new FormData();
            formData.append('file', fileOrBlob);
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData,
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                }).then(res => {
                    resolve(res);
                }).catch(err => {
                    reject(error)
                })
            });
        }
        return false;
    }
</script>
<script src="https://transloadit.edgly.net/releases/uppy/v1.7.0/uppy.min.js"></script>
<script src="https://transloadit.edgly.net/releases/uppy/locales/v1.10.0/zh_CN.min.js"></script>
<script>
    var uppy = Uppy.Core()
        .use(Uppy.Dashboard, {
            inline: false,
            target: '#drag-drop-area',
            locale: Uppy.locales.zh_CN,
            replaceTargetContent: true,
            showProgressDetails: true,
            trigger: '#upload-btn',
            closeModalOnClickOutside: true,
            metaFields: [
                { id: 'name', name: 'Name', placeholder: 'file name' },
                { id: 'attachment_id', name: '附件ID', placeholder: '' },
                { id: 'caption', name: 'Caption', placeholder: 'describe what the image is about' }
            ],
            proudlyDisplayPoweredByUppy: false
        })
        uppy.setMeta({
            uid: '<%= current_user.ID %>',
            token: '<%= upload-token %>'
        })
        uppy.use(Uppy.Tus, {
            endpoint: 'http://180.76.121.158:1080/files',
        })
        uppy.on('complete', (result) => {
            // 文件上传成功以后，将文件地址保存，同表单一同提交（可扩展为用户相册功能）
            console.log('Upload complete! We’ve uploaded these files:', result.successful)
        })

</script>
